<h1><%= @figure.name %></h1>
  <br>
<h2><%= @figure.name %>'s Landmarks</h2>
    <%@figure.landmarks.each do |landmark|%>
      <li><%=landmark.name%></li>
    <%end%>
  <br>
<h2><%= @figure.name %>'s Titles</h2>
    <%@figure.titles.each do |title|%>
      <li><%=title.name%></li>
    <%end%>